/* variables a ser usadas  */

:root {
    --primary: #22b9ff;
    --secundary: #00043a;
    --tertiary: #0c4981;
    --background: #35495e;
    --black-text: rgb(61, 61, 61);
    --white-text: #ffffff;
    --blue-gradient: linear-gradient(90deg, #42b983, #35495e);
    --button-hover: #125ec2;
    --text-shadow: .2rem .2rem .2rem #0d0d0e;
}


/* * {

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} */

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    background-color: var(--primary);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav h1 {
    color: var(--white-text);
    font-size: 1.5rem;
    margin: 0 5vw;
    width: 70vw;
}

nav ul.menu-box {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: var(--background);
    top: 10vh;
    left: -100%;
    text-align: left;
    transition: left .5s;
    display: flex;
    flex-direction: column;
}

nav ul.menu-box li {
    height: 15vh;
    width: 80%;
    padding: 0 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid .1rem rgba(201, 196, 196, 0.4);
}

nav ul.menu-box li a {
    color: var(--white-text);
    font-size: 1.2rem;
    text-decoration: none;
}

nav ul.menu-box li:hover {
    background-color: var(--button-hover);
    /* transition: all .3s; */
    box-shadow: inset 0 -2px 0 0 var(--secundary);
}


/* hamburger */

.nav-toggle {
    position: absolute;
    right: 1em;
    padding: 1em 0.5em;
    background: transparent;
    border: 0;
    z-index: 10000;
    cursor: pointer;
}

.hamburger {
    display: block;
    position: relative;
    margin-right: 5vw;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--secundary);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 7px;
}

.hamburger::after {
    bottom: 7px;
}


/* nav open class at body is added with JS */

.nav-open .menu-box {
    left: 0;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
    background: var(--tertiary);
}

.nav-open .hamburger::before {
    transform: rotate(270deg) translateX(+7px);
    background: var(--tertiary);
}

.nav-open .hamburger::after {
    opacity: 0;
}

section.nen {
    margin-top: 10vh;
    background-color: #0d0d0e;
    height: 90vh;
}

section.non {
    background-color: #a4e2ff;
    height: 90vh;
}


/* media query */

@media (min-width:650px) {
    header nav h1 {
        font-size: 20px;
        width: 190px;
        margin-left: 2vw;
        margin-right: 0;
    }
    nav ul.menu-box {
        left: 0;
        position: relative;
        flex-direction: row;
        height: 10vh;
        width: auto;
        margin-right: 10px;
        margin-left: auto;
        top: 0;
        background: none;
        transition: left 0s;
    }
    nav ul.menu-box li {
        height: 6vh;
        margin: 2vh 0;
        padding: 0 5px;
        margin-right: 1vw;
        border: none;
        width: 105px;
        display: flex;
        justify-content: center;
    }
    nav ul.menu-box li:first-child {
        width: 70px;
    }
    nav ul.menu-box li:nth-child(2) {
        width: 90px;
    }
    nav ul.menu-box li:nth-child(3) {
        width: 90px;
    }
    nav ul.menu-box li a {
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .hamburger {
        display: none;
    }
    nav ul.menu-box li:hover {
        background-color: var(--button-hover);
        transition: inset .3s;
        box-shadow: inset 0 -2px 0 0 var(--secundary);
        border-radius: 20px;
    }
    nav ul.menu-box li:hover a {
        color: var(--secundary);
    }
}

@media (min-width:800px) {
    nav ul.menu-box li:first-child,
    nav ul.menu-box li:nth-child(2),
    nav ul.menu-box li:nth-child(3),
    nav ul.menu-box li:last-child {
        width: 120px;
    }
    nav ul.menu-box {
        margin-right: 5vw;
    }
}