     ::-webkit-scrollbar {
        width: 12px;
    }
    
     ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: rgba(37, 37, 37, 0.767);
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background: rgb(68, 68, 68);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
     ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(37, 37, 37, 0.3);
    }