section.main_img {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 90vh;
}

section.main_img img {
    object-fit: cover;
    width: 100%;
    height: 90vh;
}

section.main_img2 {
    position: absolute;
    top: 190vh;
    width: 100%;
    height: 90vh;
}

section.main_img2 img {
    object-fit: cover;
    width: 100%;
    height: 90vh;
}